{% extends "mainApp/wrapper.html" %}

{% block content %}
    <h2 class="text-info">{{articles.title}}</h2>
    <h6 class="text-info">Опубликованно: {{articles.date|date:"Y-m-d в H:i:s"}}</h6>
    <p>{{articles.post|safe|linebreaks}}</p>
{% endblock %}
